@import "tailwindcss";

body{
    background-position: center;
    background-size: cover;
    background-image: url(assets/whimsy-bg-1.webp);
}
body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-position: center;
    background-size: cover;
    background-image: url(assets/whimsy-frame.webp);
    z-index: 1;
    pointer-events: none;
}