---
import Layout from "../layouts/Layout.astro";
import Popup from "../components/Popup.astro";
---

<Layout>
  <audio id="bg-music" src="/assets/music/curious-creatures.mp3" loop></audio>
  <div class="mx-32">
    <img id="submissions" src="assets/submissions-1.png" class="justify-center fixed top-100 left-100 transition-all hover:scale-[1.05]"/>
  </div>

  <Popup id="open-submissions" background="assets/open-submissions.png" position="top-1/16">
  </Popup>
  <script>
    const submissions = document.getElementById("submissions") as HTMLImageElement;
    const openSubmissions = document.getElementById("open-submissions");
    
    const bgMusic = document.getElementById("bg-music") as HTMLAudioElement;
    let musicStarted = false;

    const bgPath1 = "url(assets/whimsy-bg-1.png)";
    const bgPath2 = "url(assets/whimsy-bg-2.png)";
    let count = 1;

    let boxOpen = false;
    let submissionOpen = false;
    let ideasOpen = false;
    let faqOpen = false;

    document.addEventListener("click", () => {
      if (!musicStarted) {
        bgMusic.play();
        musicStarted = true;
      }
    });

    submissions?.addEventListener("click", () => {
      openSubmissions?.classList.toggle("hidden");
    });

    submissions?.addEventListener("mouseenter", () => {
      submissions.src = "assets/submissions-2.png";
    })

    submissions?.addEventListener("mouseleave", () => {
      submissions.src = "assets/submissions-1.png";
    })

    setInterval(() => {
      count += 1;
      count %= 2;
      if (count == 0) {
        document.body.style.backgroundImage = bgPath1;
      }
      else {
        document.body.style.backgroundImage = bgPath2;
      }
    }, 500);

    function makeDraggable(popup: HTMLElement) {
      let isDragging = false;
      let offsetX = 0;
      let offsetY = 0;

      popup?.addEventListener("mousedown", (e: MouseEvent) => {
        e.preventDefault();
        isDragging = true;
        const rect = popup.getBoundingClientRect();
        offsetX = e.clientX - rect.left;
        offsetY = e.clientY - rect.top;
      });

      document.addEventListener("mousemove", (e: MouseEvent) => {
        if (!isDragging) return;
        popup.style.left = `${e.clientX - offsetX}px`;
        popup.style.top = `${e.clientY - offsetY}px`;
      });

      document.addEventListener("mouseup", (e: MouseEvent) => {
        isDragging = false;
      });
    }

    //make all popups on the page draggable
    const popups = document.querySelectorAll<HTMLElement>(".popup");
    popups.forEach((popup) => {
      makeDraggable(popup);
    });
  </script>
</Layout>
